/* 1.顶部导航  */
.top-navigation {
    height: 50px;
    background-color: blue;
}

.dbdhzb .iconfont {
    color: #95e5ff;
}

.top-navigation-link a {
    color: #95e5ff;
    line-height: 50px;
    font-size: 18px;
    margin: 0px 9px;
}

.top-navigation-link i {
    color: #95e5ff;
    font-size: 20px;
}

.top-navigation-link-left {
    float: left;
}

.top-navigation-link-right {
    float: right;
}

.top-navigation-link .iconfont {
    color: #95e5ff;
}


/* 第二部分 */
/* 建设银行 */
.economic-construction-lj {
    height: 82px;
}

/* 图片 */
.economic-construction-lj .tp {
    float: left;
}

/* 图片 */
.economic-construction-lj .tp img {
    height: 61px;
    width: 300px;
    margin: 10px 20px;
}

/* 搜索地址 */
.ssdz {
    float: left;
    line-height: 123px;
    height: 20px;
    width: 149px;
}

.ssdz span {
    margin: 30px 0px;
}



.ssdz input {
    height: 10px;
    width: 10px;
}

/* 字体链接 */
.economic-construction-lj1 {
    float: right;
    height: 63px;
    
}

.economic-construction-lj span {
    line-height: 82px;
    font-size: 15px;
    margin: 0px 4px;
}

/* 第三部分 */
.Handling-services {
    width: 100%;
    height:2451px;
}

.Handling-services-lj {
    width: 960px;
    height: 2451px;
    background-color: rgb(20, 40, 220);
}

.Handling-services-lj- {
    width: 921.59px;
    height: 1725px;
    background-color: deeppink;
    margin: 0px 20px ;
}

.Handling-services-lj- p {
    font-size: 23px;
}

.aa {
    width: 108px;
    height: 38px;
    background-color: #12629c;
    line-height: 38px;
    margin: 29px  10px ;
}

.aa span {
    margin: 0 10px ;
    font-size: 20px;
    color: ghostwhite;

}


/* 第四部分 */





























































/* 第五部分 */
/* 网站 */
.website {
    float: left;
    height: 76px;
    width: 100%;
    background-color: #025a9d;

}

.Website-link-nr {
    float: left;
}

.Website-link-nr .wztp {
    width: 346px;
    background-color: tomato;
    margin: 13px 0;
}

.wztp img {
    height: 50px;
    width: 141px;
    float: left;
    margin: 0px 7px;
}

.wztp .pp {
    float: left;
}


.wztp .pp img {
    margin: 0 25px;
}

.Website-link {
    height: 75px;
    width: 1442px;

}


.Website-link a {
    color: #1dcfd0;
    margin: 20px 12px;
    font-size: 21px;
    line-height: 55px;

}




/* 第六部分 */
/* 底部 */

.bottomlan {
    height: 242px;
    width: 100%;
    background-color: #0066b3;
    float: left;
}


.bottom {
    height: 242px;
    line-height: 46px;
}

/* 底部 */
.bottom-lef .img {
    float: left;

    margin: 84px 0px;
}

.bottom-lef .img img {
    height: 47px;
    width: 35px;
}

.bottom-lef-right {
    float: left;
    margin: 60px 41px;
}


.bottom-lef span {
    font-size: 20px;
    color: #ffe7e1;
}


.bottom-right {
    float: right;

}


.bottom-right .ewman {
    float: right;
    margin: 55px 26px;
    height: 128px;
    width: 105px;
    background-color: #f1ebeb;
    text-align: center;
}


.bottom-right .ewman img {
    height: 90px;
    width: 91px;
}


.bottom-right .ewman p {
    font-size: 19px;
    margin: -23px 0;
}